<section class="text-center my-5" >
    <h3 [class]="corDoGenero" >{{genero().value | uppercase }}</h3>
    <hr [class]="corDoGenero" class="border border-2 opacity-50 mx-auto" style="width: 40px;">

    <div class="d-flex" style="overflow: auto;">

        @for( livro of genero().livros; track livro){
            
            <app-livro [livro]="livro" />
        } @empty {
            <img class="img-fluid" src="assets/img/sem-livros.png" alt="" srcset="">
          }
    </div>
    
</section>




